---
layout: default
---
<div class="home">
  <!-- Start of Hubspot Form -->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/embed/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: 'na1',
      portalId: '44883583',
      formId: '31e867be-3530-4ac1-8e34-00e62604dee3',
    });
  </script>
  <!-- End of Hubspot Form -->

  {% capture currentDate %}{{'now' | date: '%s' | minus: 68400}}{% endcapture %}

  <div class="clearfix">
    <!-- List Upcoming Events -->
    <h2 class="event-time-heading fix-top">Upcoming Events</h2>

    {% for event in collections.events reversed %}
      {% capture eventDate %}{{event.date | date: '%s' }}{% endcapture %}
      {% assign location = locations[event.data.location] %}

      {% if eventDate >= currentDate %}
        {% if location.image %}
          <div class="event-square" style="background-image:url(/images/{{location.image}});">
        {% else %}
          <div class="event-square" style="background-image:url(/images/{{ site.cover }});">
        {% endif %}
        <h3>
          <a href="{{ event.url }}">
            {{- event.data.title }}
            <span>{{ event.date | date: '%A, %b %-d, %Y' }}</span>
          </a>
        </h3>
        <div class="event-square-overlay"></div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="clearfix">
    <!-- List Past Events -->
    <h2 class="event-time-heading">Past Events</h2>
    {% for event in collections.events reversed %}
      {% capture eventDate %}{{event.date | date: '%s' }}{% endcapture %}

      {% if eventDate < currentDate %}
        <h3>
          <a href="{{ event.url }}">
            {{- event.date | date: '%A, %b %-d, %Y' }} w/
            {% assign n = event.data.speakers.size %}
            {% assign n-commas = n | minus: 1 %}
            {% for counter in (0..n) %}
              {{ event.data.speakers[counter].name -}}
              {%- if counter < n-commas %}, {% endif %}
            {% endfor -%}
          </a>
        </h3>
      {% endif %}
    {% endfor %}
  </div>
</div>
